body {
    
    text-align: center;
}

.header {
    border: 1px solid rgb(233, 233, 233);
    margin: auto;
    background-color: rgb(138, 138, 138);
    height: 50px;
    width: 200px;
    font-size: larger;
    color: white;
}

.description {
    border: 1px solid rgb(233, 233, 233);
    margin: auto;
    height: 90px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    font-style: italic;
    color: black;
}

.email {
    border: 1px solid rgb(233, 233, 233);
    margin: auto;
    width: 200px;
    background-color: rgb(196, 196, 196);
    color: black;
    margin-bottom:5px;
}

